@page
@using WineStoreEntity.Models
@model ViewAllSaleModel


<h2>View All Sale Details</h2>



<p>
    <a asp-page="RecordSale">New Sale</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Product")
            </th>

            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("Bill Amount")
            </th>

            <th>
                @Html.DisplayName("Date")
            </th>

            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SaleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Bill)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BuyDate)
                </td>



                <td>
                    <a asp-page="./EditSale" asp-route-id="@item.id">Edit</a> |
                    <a asp-page="./ViewAllSale" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> 